<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr />
    <ul>
      <li>Krilin - 700</li>
      <li>Goku - 17,000</li>
      <li>Vegueta - 7500</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr />

    <form (ngSubmit)="agregar()">
      <input 
        type="text" 
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="nuevo.nombre"
         />
      <input 
        type="number"
        placeholder="Poder"
        name="poder"
        [(ngModel)]="nuevo.poder"/>
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
